In [1]:
import pandas as pd
import matplotlib

file_dir = "Resources"
wiki_clean_file = f'{file_dir}/clean_wiki_movies.csv'
kaggle_movies_clean_file = f'{file_dir}/clean_kaggle_metadata.csv'
ratings_kaggle_clean_file = f'{file_dir}/clean_ratings.csv'

In [2]:
#make dfs
ratings = pd.read_csv("Resources/clean_ratings.csv")

In [3]:
kaggle_metadata = pd.read_csv("Resources/clean_kaggle_metadata.csv")

In [4]:
wiki_movies_df = pd.read_csv("Resources/clean_wiki_movies.csv")

In [5]:
#merge tables
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [6]:
movies_df[['title_wiki','title_kaggle']]

                           title_wiki                     title_kaggle
0     The Adventures of Ford Fairlane  The Adventures of Ford Fairlane
1                After Dark, My Sweet             After Dark, My Sweet
2                         Air America                      Air America
3                               Alice                            Alice
4                     Almost an Angel                  Almost an Angel
...                               ...                              ...
6047                A Fantastic Woman                A Fantastic Woman
6048                       Permission                       Permission
6049                         Loveless                         Loveless
6050                           Gemini                           Gemini
6051  How to Talk to Girls at Parties  How to Talk to Girls at Parties

[6052 rows x 2 columns]

In [7]:
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

,title_wiki,title_kaggle
27,China Cry,China Cry: A True Story
36,Daddy's Dyin' ...Who's Got the Will?,Daddy's Dyin'... Who's Got the Will?
38,The Dark Side of the Moon,The Dark Side of The Moon
42,Delta Force 2,Delta Force 2: The Colombian Connection
48,DuckTales the Movie:Treasure of the Lost Lamp,DuckTales: The Movie - Treasure of the Lost Lamp
...,...,...
5956,Chips,CHiPS
5971,Spark,Spark: A Space Tail
5994,Pirates of the Caribbean:Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales
6023,Valerian and the Cityof a Thousand Planets,Valerian and the City of a Thousand Planets
6028,An Inconvenient Sequel:Truth to Power,An Inconvenient Sequel: Truth to Power

In [8]:
#dropping wiki title column since the two kaggle and wiki title columns are identical
single_title_movies_df= movies_df[movies_df['title_wiki'] == 'False'].drop('title_wiki',axis='columns')

In [21]:
single_title_movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
to_sql()